<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
            <rules>
				<rule name="RU1">
					<match url="^(.*)" />
					  <conditions>
					  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					  </conditions>
					<action type="Rewrite" url="{R:1}.php" />
				</rule>
				</rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://kernstudios.org/404" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://kernstudios.org/404" responseMode="Redirect" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".ini" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".shn" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".7z" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
